# dependencies
node_modules/
.pnp
.pnp.js

# env
.env
.env.local
.env.*.local

# build outputs
dist/
build/
.next/
out/
*.tsbuildinfo

# prisma
apps/api/prisma/*.db
apps/api/prisma/migrations/dev.db*

# logs
*.log
npm-debug.log*

# editor / os
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea/

# misc
coverage/
.turbo/
